<h3>注文履歴一覧</h3>
<table class="table table-bordered">
    <thead>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= link_to admin_ordered_product_path(order) do %>
                    <%= order.created_at.strftime('%Y/%m/%d') %>
                <% end %></td>
                <td><%= order.user.family_name %><%= order.user.middle_name %></td>
                <td></td>
                <td><%= order.order_status %></td>
            </tr>
        <% end %>
    </tbody>
</table>