<div class="container">
    <div class="row">
        <h3>注文履歴詳細</h3>
        <span>購入者</span>
        <%= @order.user.family_name %><%= @order.user.middle_name %><br>
        <span>配送先</span>
        <%= @order.user.zipcode %><%= @order.user.address %><br>
        <%= @order.user.name %>
        <span>支払方法</span>
        <%= @order.pay_method %><br>
        <span>注文ステータス</span>
        <%= form_for @order, url:  order_update_path(@order) do |f| %>
        <%= f.select :order_status,Order.order_statuses.keys.to_a, {} %>
        <%= f.submit "更新" %>
        <% end %>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                        <th>制作ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            
                            <%= select :production_status,:name,OrderedProduct.production_statuses.keys.to_a %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-3">
            <table>
                <tr>
                    <th>商品合計</th>
                    <td></td>
                </tr>
                <tr>
                    <th>送料</th>
                    <td></td>
                </tr>
                <tr>
                    <th>請求額合計</th>
                    <td></td>
                </tr>
            </table>
        </div>
</div>
